.home-product {
    padding: 32px 0;

    h1 {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 28px;
        color: #000000;
    }

    .show-product_btn {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 56px;
        border-radius: 8px;
        background-color: #F2F4F8;
        padding: 16px;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        text-transform: capitalize;
    }
}