.cart-bottom {
  .cart-bottom_title {
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    margin-bottom: 24px;
  }
  .cart-bottom_motion {
    margin-bottom: 24px;
    .cart-slider_container {
      padding: 0 16px;
      .slick-slide {
        padding-right: 32px;
        
      }
      
      .slick-prev {
        &::before {
          content: "";
        }
      }
      .slick-next {
        right: 0;
        &::before {
          content: "";
        }
      }
      .cart-slider {
        padding: 0;
      }
    }
  }
}
