.catalog-menu {
  width: 100%;
  position: relative;

  .catalog_menu-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 8px;

    &:hover {
      background-color: #0074eb33 !important;
    }
  }

  .css-r6z5ec {
    left: -214px !important;
    width: 1200px;
    z-index: 10;
    height: 100vw;
    transform: translateX(0) !important;
    transform: translateY(56px) !important;
    background-color: white !important;
  }

  .catalog-menu_list-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    padding: 16px 8px;
    border: none;
    box-shadow: none;

    .catalog-menu_sidebar {
      grid-column: span 4;

      .catalog-menu_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .catalog-menu_item {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-bottom: 16px;

          img {
            width: 24px;
            height: 24px;
          }
        }

        .catalog-menu_link {
          text-decoration: none;
          color: #000;
          font-size: 14px;
        }

        .sub-categories {
          position: absolute;
          top: 0;
          left: calc(100% + 8px);
          padding: 8px;
          display: none;
        }
      }

      &:hover .sub-categories {
        display: block;
      }
    }

    .catalog-menu_right {
      grid-column: span 8;

      .subcategory-title {
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        margin-bottom: 20px;
        cursor: pointer;
      }

      .sub-category {
        font-size: 14px;
        font-weight: 400;
        color: #bdbdbd;
      }
    }
  }
}