.catalog-menu_container {
  width: 1190px;
  height: 100vw;
  padding-bottom: 24px;
  position: absolute;
  left: -209px;
  background-color: white;
  overflow: hidden;

  .catalog-menu_content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    border: none;
    box-shadow: none;
    padding-top: 12px;
    padding-right: 8px;
    padding-left: 8px;
    .catalog-menu_sidebar {
      grid-column: span 3;
      border-right: 1px solid #e6e8ed;

      .catalog-menu_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .catalog-menu_item {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-bottom: 4px;

          img {
            width: 24px;
            height: 24px;
          }
        }

        .catalog-menu_link {
          text-decoration: none;
          color: #000;
          font-size: 14px;
        }

        .sub-categories {
          position: absolute;
          top: 0;
          left: calc(100% + 8px);
          padding: 8px;
          display: none;
        }
      }

      &:hover .sub-categories {
        display: block;
      }
    }

    .catalog-menu_right {
      grid-column: span 9;

      .subcategory-title {
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        margin-bottom: 20px;
        cursor: pointer;
      }

      .sub-category {
        font-size: 14px;
        font-weight: 400;
        color: #bdbdbd;
      }
    }
  }


}