.category-page {
  padding: 24px 0px;

  .category-page_content {
    display: flex;
    gap: 20px;

    .category-page_left {
      flex: 0 0 20%;

      .category-page_title {
        font-weight: 500;
        font-size: 24px;
        color: #000000;
        letter-spacing: -0.42px;
        margin-bottom: 24px;
      }
    }

    .category-page_right {
      width: 100%;
    }
  }

  .category-page_breadcrumb {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .category-page_subcategory {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-bottom: 24px;
      transition: 0.2s ease-in-out;
    }

    .ctPage-subcategory_title {
      font-weight: 500;
      font-size: 14px;
      color: #bdbdbd;
      margin: 0;

      &:hover {

        color: #0E73F6;
      }
    }
  }
}