.category-page {
  padding: 24px 0px;

  .category-page_content {
    display: flex;
    gap: 20px;

    .category-page_left {
      flex: 0 0 20%;

      .category-page_title {
        font-weight: 500;
        font-size: 24px;
        color: #000000;
        letter-spacing: -0.42px;
        margin-bottom: 24px;
      }
    }

    .category-page_right {
      width: 100%;
    }
  }

 
}