.pcard-page{
    padding: 32px 0;
    width: 100%;
    min-height: 500px !important;
    .pcard-content{
        display: flex;
        justify-content: center;
        .pcard-item{
            padding: 16px;
            
        }
    }
}