.categories-card_item {
    margin-bottom: 24px;
    flex: 0 0 19%;

    .categories-card_content {
        background-color: #F5F5F5;
        border-radius: 8px;
        padding: 12px;
        height: 100%;

        .categories-card_header {
            width: fit-content;
            margin-bottom: 24px;

            .categories-card_icon {
                width: 90px;
                height: 90px;
                margin-bottom: 12px;
            }

            .categories-card_title {
                font-weight: 500;
                color: #000000;
                line-height: 20px;
                letter-spacing: -0.32px;
                transition: .2s ease-in-out;
                &:hover{
                    color: #0E73F6;
                }
            }
        }

        .categories-card_body {
            .categories-card_body-item {
                display: flex;
                flex-direction: column;

                .categories-card_link {
                    font-weight: 500;
                    font-size: 14px;
                    color: #000000;
                    line-height: 16px;
                    margin-bottom: 18px;
                    transition: .2s ease-in-out;
                    &:hover{
                        color: #0E73F6;
                    }
                }
            }

        }
    }
}