.checkout-top{
    padding: 8px 0px;
    .checkout-top_link{
        display: flex;
        align-items: center;
        color: #5B6871;
    }
    .checkout-top_btn{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 15px 12px;
        background: #F9F9F9;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
    }
}