.chakra-modal__content {
  width: 400px !important;
  top: 110px;
  min-height: 389px;
}
.auth-input {
  border-radius: 8px !important;
  background-color: #f5f6f8 !important;
}
.auth-input::placeholder{
  color: black;
}
.auth-button {
  width: 100%;
}
.error-message {
  color: red;
}
.error-input {
  border-color: red !important;
}

.error-input::placeholder {
  color: red;
}
.register-close_button{
  background-color: #DCDCDC !important;
  border-radius: 50% !important;
}
.code_tg{
  padding: 6px 12px;
  border-radius: 8px;
  color: white;
}
.modal-footer{
  display: flex;
  gap: 12px;
}