.checkout-page {
    .checkout-page_content {

        padding: 40px 60px;

        .checkout-container {
            max-width: 1096px;
            width: 100%;
            .checkout-title{
                font-weight: 600;
                font-size: 34px;
                margin-bottom: 32px;
            }
        }
    }
}