.checkout-page {
    .checkout-title {
        padding: 24px 0;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 32px;
    }

    .checkout-left {
        .checkout-page_title {
            display: flex;
            font-size: 18px;
            font-weight: 500;
            gap: 16px;
            margin-bottom: 32px;

            span {
                width: 30px;
                height: 30px;
                background-color: #333;
                font-size: 16px;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #fff;
                border-radius: 20px;
            }
        }

        form {
            .checkout-form_control {
                margin-bottom: 28px;

                .checkout-input {
                    padding: 0 17px;
                    height: 48px;
                    border-radius: 12px;
                }
            }

            .checkout-payment {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0;
                padding-left: 1.25rem;
                padding-right: 1rem;
                border: 1px solid;
                border-color: rgb(236 236 236);
                border-radius: .75rem;
                margin-bottom: 40px;

                .payment-selected {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    img {
                        width: 54px;
                        height: 21px;
                    }
                }

                .checkout-change_btn {
                    padding: 8px 14px;
                    border: 2px solid rgb(238 238 238);
                    border-radius: 12px;
                    font-weight: 500;
                }
            }
            .checkout-left_bottom{
                width: 100%;
             .checkout-radio{
                label{
                    border: 2px solid red;
                    width: 100%;
                    padding: 10px 16px;
                    border-radius: 6px;
                }
             }
            }
        }
    }

}


.css-1u2cvaz {
    top: 250px !important;
    height: 100% !important;
}

.checkout-modal_content {
    margin-bottom: -50px !important;
    min-height: 230px !important;

    .checkout-modal_img {
        width: 50px;
        height: 20px;
    }
}

.css-14iyyou,
.css-14iyyou {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
}

.checkout-modal_body {
    flex: none !important;
}