header {
    .header-top {
        padding: 16px 0;
        background-color: #F2F4F8;
        .header-top_left {
            display: flex;
            align-items: center;
            @media (max-width:"972px") {
                flex-direction: column;
            }
        }
    }

    .header-mid {
        .hader_menu {
            .header_menu_btn {
                height: 48px;
                background: #0074EB33;

                &:hover {
                    background-color: #0074EB33;
                }

                &.active {
                    background-color: #0074EB33;
                }
            }
        }

        .header_search {
            position: relative;

            .handle_search_input {
                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }

        .search-results {

            width: 100%;
            position: absolute;
            top: calc(100% + 0px);
            left: 0;
            height: 232px;
            background-color: #F6F6F6;
            color: #000000;
            padding: 10px;
            border-radius: 0px 0px 8px 8px;
            z-index: 999;
            overflow-y: auto;

            .search-result_content {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-bottom: 5px;

                img {
                    width: 24px;
                    height: 24px;
                }

                .search-result_link {
                    font-size: 14px;
                    font-weight: 600;
                    color: #000000;
                    cursor: pointer;

                }
            }
        }

        .header-mid_right {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
}