header {
    .header-top_left {
        display: flex;
        align-items: center;

        @media (max-width:"972px") {
            flex-direction: column;
        }
    }

    .header-mid {
        .header_search {
            .handle_search_input {
                &:focus {
                    outline: none;
                }
            }
        }
        .header-mid_right{
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
}