header {
    .header-top {
        padding: 16px 0;
        background-color: #F2F4F8;

        .header-top_left {
            display: flex;
            align-items: center;

            @media (max-width:"972px") {
                flex-direction: column;
            }
        }
    }

    .header-mid.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.014);
    }

    .header-mid {
        background-color: white;
        padding: 16px 0;

        .header-mid_content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 16px;
        }

        .header_search {
            position: relative;
            flex: 1;

            .header_search-input {
                font-size: 18px;

                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }

        .search-results {
            width: 100%;
            position: absolute;
            top: calc(100% + 0px);
            left: 0;
            height: 232px;
            padding: 10px;
            border-radius: 0px 0px 8px 8px;
            z-index: 999;
            overflow-y: auto;

            .search-result_content {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-bottom: 5px;

                img {
                    width: 24px;
                    height: 24px;
                }

                .search-result_link {
                    font-size: 14px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }

        .header-mid_right {
            display: flex;
            align-items: center;
            gap: 12px;

            .header-mid_right-cart {
                position: relative;

                .header-mid_right-badge {
                    position: absolute;
                    top: -12px;
                    right: -14px;
                    border-radius: 50%;
                    font-size: 12px;
                    font-weight: 300;
                    width: 21px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }

        }
    }
}