nav {
  padding: 16px 0;

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-link {
      font-size: 14px;
      font-weight: 500;
      color: #9c9c9c;
      position: relative;
      transition: 0.3s ease-in-out;
      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 2px;

        background-color: #0074eb;
        transition: 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
&:hover{
  color: #0074eb;

}
      &.active {
        color: #0074eb;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
