.answer-page {
    width: 100%;
    padding: 32px 0;

    .answer-content {
        display: flex;

        .answer-left {
            flex: 0 0 25%;
            .answer-title {
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 24px;
            }
            .answer-list{
                margin-bottom: 16px;
                .answer-list_title{
                    font-weight: 500;
                    font-size: 16px;
                    color: #000000;
                    margin-bottom: 14px;
                }
                .answer-list_item{
                        margin-bottom: 10px;
                    .answer-list_link{
                        font-weight: 500;
                        font-size: 16px;
                        color: #BDBDBD;
                    }
                }
            }
        }
        .answer-right{
            flex: 0 0 75%;
            .answer-right_item{
                width: 100%;
            }
        }
    }
}