@font-face {
  font-family: "AbhayaLibre";
  src: url("./assets/fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "AbhayaLibre";
  src: url("./assets//fonts//Abhaya_Libre/AbhayaLibre-Medium.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "AbhayaLibre";
  src: url("./assets//fonts//Abhaya_Libre/AbhayaLibre-SemiBold.ttf")
    format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "AbhayaLibre";
  src: url("./assets//fonts//Abhaya_Libre/AbhayaLibre-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-Medium.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-SemiBold.ttf") format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-Bold.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Revalia";
  src: url("./assets//fonts/Revalia/Revalia-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SFPRODISPLAY";
  src: url("./assets/fonts/sfpro/SFPRODISPLAY-Regular.OTF") format("OTF");
  font-weight: 400;
}
@font-face {
  font-family: "SFPRODISPLAY";
  src: url("./assets/fonts/sfpro/SFPRODISPLAY-Medium.OTF") format("OTF");
  font-weight: 500;
}
@font-face {
  font-family: "SFPRODISPLAY";
  src: url("./assets/fonts/sfpro/SFPRODISPLAY-Semibold.OTF") format("OTF");
  font-weight: 600;
}
@font-face {
  font-family: "SFPRODISPLAY";
  src: url("./assets/fonts/sfpro/SFPRODISPLAYSEMI-Bold.ttf") format("ttf");
  font-weight: 700;
}
*:focus {
  box-shadow: none !important;
}
.css-cd0zg1 {
  background: none !important;
}
.css-cd0zg1:hover {
  background-color: none;
}

.error-message {
  color: red;
}
.error-input {
  border-color: red !important;
}

.error-input::placeholder {
  color: red;
}


