.ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
    display: none;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 0;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}