.product-card {
  .card-body {
    border-radius: 128px !important;
    padding: 0;

    .card-top {
      padding: 4px 8px;
      background-color: white;

      img {
        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .card-bottom {
      padding: 4px 8px;
      background-color: white;
      height: 128px !important;

      .product-name {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        text-align: justify;
        line-height: 18px;
        letter-spacing: -0.15px;
      }

      .product-rating {
        font-size: 12px;
        font-weight: 500;
        color: #9C9C9C;
      }

      .product-price {
        font-weight: 500;
        font-size: 14px;
        line-height: 16.94px;
        color: #000000;
      }
    }
  }

  .favourites-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;

    &.added {
      color: red;
    }
  }

}