.product-card {
  box-shadow: unset !important;
  transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border: 1px solid white !important;
  padding: 4px 0;

  &:hover {
    border-color: #9c9c9c !important;
  }

  .card-body {
    border-radius: 12px;
    padding: 0;

    .card-top {
      background-color: white;
      padding: 8px;

      img {
        height: 200px;
      }
    }

    .card-bottom {
      padding: 0 8px;
      background-color: white;

      .product-name {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        text-align: justify;
        line-height: 18px;
        letter-spacing: -0.15px;
        min-height: 32px;
      }

      .product-rating,
      .product-orders,
      .product-price {
        font-size: 12px;
        font-weight: 500;
        color: #9c9c9c;
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .product-price {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        line-height: 16.94px;
      }
    }
  }

  .card-footer {
    align-items: center;
    margin-top: 16px;
    padding: 0 8px;
  }

  .favourites-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;

    &.added {
      color: red;
    }
  }
}